* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  width: 100%;
}

main {
  padding: 40px;
  margin: auto;
}

a {
  color: black;
  text-decoration: none;
}

/* HEADER */

/* header-logo */

header {
    margin: 0 3.5%;
    display: flex;
align-items: center;
}

.header-logo {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}

.subscribe-mobile {
    visibility: hidden;
}

/* Nav */

.main-nav {
    display: flex;
    vertical-align: top;
}

.main-nav a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    text-align: center;
    width: 50%;
    padding: 1.5em;
    padding-top: 4em;
}

.main-nav a:hover {
    font-weight: bold;
    text-decoration: none;
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

#subscribe, .subscribe-mobile {
    color: #0065FC;
    font-weight: bold;
    text-decoration: none;
}

#subscribe:hover, .subscribe-mobile:hover {
    color: #0049b8;
    font-size: 18px;
    font-weight: bolder;
    border: none;
}

/* Media Queries */

@media screen and (max-width: 900px) {
    body, main, header {
        margin: 0;
        min-width: 360px;
    }
    /* Header */
    header {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .header-logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 1.5em;
    }
    #subscribe {
        display: none;
    }
    .subscribe-mobile {
        visibility: visible;
    }
    /* Nav */
    .main-nav {
        display: flex;
        width: 100%;
    }
    nav a {
        width: 50%;
        display: flex;
        text-align: center;
        padding: 1em;
        border-bottom: 3px solid #F2F2F2;
    }
    .main-nav a:hover {
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }
}

/* SECTION 1 */



h1 {
  /* margin-right: 1em; */
  font-size: 1.5em;
  font-weight: bold;
}

h1 p {
  text-align: center;
}

/* search */

#searchbar {
  height: 50px;
  margin-top: 1em;
  max-width: 500px;
  border-radius: 15px;
  border: 2px solid #F2F2F2;
  position: relative;
}

#searchbar input {
  font-weight: bold;
  border: none;
  font-size: 17px;
}

::placeholder {
  color: black;
  opacity: 1;
}

#searchbar input:focus {
  outline: none;
}

#searchbar i {
  border-radius: 15px 0 0 15px;
  padding: 16px;
  background: #F2F2F2;
  color: black;
}

#searchbar .search {
  padding: 15px 10px;
  color: white;
}

#searchbar .search {
  font-size: 16px;
  position: absolute;
  right: 0;
  border: none;
  border-radius: 0 15px 15px 0;
  background: #0065FC;
  color: white;
  padding: 0.85em;
  /* display: none; */
}

#searchbar .search-icon i {
  font-size: 16px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1.1em;
  border: none;
  border-radius: 15px;
  background: #0065FC;
  color: white;
  visibility: hidden;
}

/* TAGS */


  .tags{
    display: inline-flex;
    align-items: center;
  

 
  /* flex-wrap: wrap; */
  margin: 2em 0;
}

.tags p {
  /* font-size: 1.1em;
  font-weight: bold;
  margin-top: 2em;
  padding-right: 2em;
  position: relative; */
font-weight: bold;
margin-right: 2em;
}


.tag {
  width: fit-content;
  background-color: white;
  border: 2px solid #F2F2F2;
  border-radius: 40px;
  margin: 1.5em 0.5em;
  margin-left: 0;
  padding: 0 0.9em;
  font-weight: bold;
  font-size: 14px;
 
}

.tag i {
  position: relative;
 left: -1em;
  color: #0065FC;
  background-color: #DEEBFF;
  border-radius: 50%;
  padding: 1.4em;

}
.tag i fa-child{
  padding: 15px 17px
}

.tag :hover {
  background-color: #F2F2F2;
}

/* search results */

.search-results i {
  color: #0065FC;
  border: 1px solid #F2F2F2;
  border-radius: 50%;
  padding: 5px 10px;
  margin-right: 1em;
  float: left;
  /* sinon le texte va passer dessous sans marge */
  top: -10px;
}

@media screen and (max-width: 900px)  {
  #searchbar{
    margin-bottom: 3em;
  }
  #searchbar .search {
    display: none;
  }
  #searchbar .search-icon i {
    visibility: visible;
  }
  .tags{
    display: block;
  }

/* SECTION 2  HÉBERGEMENTS */

.lodging {
  display: flex;

}

/* par ville */

.container-city{
  /* padding: 2em;
  margin: 0.5em 3em 0.5em -0.5em; */
  background: #F2F2F2;
  border-radius: 30px;
  width: 70%;
}
.container-city h1, .show-more{
  margin-left: 1em;
}
.container-popular{
  background: #F2F2F2;
  border-radius: 30px;
  width: 30%
}

.card-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.card {
  box-shadow: 0 0 10px rgba(33, 33, 33, 0.2);
  background: white;
  border: 5px solid white;
  border-radius: 15px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  position: relative;

}
.card:hover {
  box-shadow: 2px 2px 12px rgba(40, 40, 40, 0.4);
}

/* les plus populaires */

.container-popular h1{
  padding-left: 0.5em;
}
.container-popular .clr-black {
  color: black;
  float: right;
}

.card .aside{
  /* width: 25%; */
  height: 100%;
  box-shadow: 0 0 10px rgba(33, 33, 33, 0.2);
  background: white;
  border: 5px solid white;
  border-radius: 15px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  position: relative;
  /* display: flex; */
  } 

.aside .card_text {
  height: 100%;
  width: 40%;
  background: white;
  position: absolute;
  left: 40%;
  
  
  }
.container-popular .card-box {
  display: block;
}
.card-popular {
  box-shadow: 0 0 10px rgba(33, 33, 33, 0.2);
  background: white;
  border: 5px solid white;
  border-radius: 15px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  /* margin: 20px 10px; */
 
  /* height: 170px;
  max-width: 600px; */
}

/* .card-popular:hover {
  box-shadow: 2px 2px 12px rgba(40, 40, 40, 0.4);
} */

/* .card-popular .img-wrapper {
  height: 100%;
  width: 130px;
  margin: 0;
}

.card-popular img {
  object-fit: cover;
  width: 130px;
  height: 100%;
}

.card-popular .text-wrapper {
  padding: 0.5em 2em;
  margin: 0;
  min-width: 300px;
  font-size: 15px;
  position: relative;
}

.card-popular h3 {
  margin: 0;
}

.card-popular p {
  margin-top: 0.5em;
}

.card-popular .stars {
  position: absolute;
  bottom: 10px;
}
 */

/* .card .card_img {
  height: 50%;
  width: 100%;
  background-size: cover;
  background-position: center;
} */

/* .card-hotel img {
  object-fit: cover;
  height: 120px;
  width: 100%;
} */

.card .card_text {
height: 40%;
width:100%;
background: white;
position: absolute;
bottom: 0;

}

.price {
  font-weight: bolder;
}

i {
  color: #0065FC;
}

.star-empty {
  color: grey;
}

/* plus d'infos */

.show-more {
  padding: 1em 0;
  font-size: 18px;
  border: none;
  font-weight: bold;
  background: none;
  cursor: pointer;
}



/* SECTION 3 ACTIVITES */

#activities{
  margin: 3em 0;
}
.act-wrapper{
display: flex;
flex-direction: row;
margin-left: -1.2em;
}

.box-3-cards, .box-3-cards-reversed{
  display: flex;
  max-width: 90%;

}

.card {
height:170px;
width: 420px;
border: none;; 
border-radius: 15px;
box-shadow: 0 0 10px rgba(33, 33, 33, 0.4);
margin: 1.2em;
overflow: hidden;
display: inline-block;

  
}

.card .img-wrapper {
  height: 120px;
  width: 100%;
  margin: 0;
}

.card img {
  object-fit: cover;
  height: 120px;
  width: 100%;
}

.card .text-wrapper {
  margin: 0 0 0 1em;
  padding-top: 0.5em;
}

.big {
  height: 610px;

}

.big .img-wrapper, .big img {
  height: 550px;
}

.medium {
  height: 350px;
}
.medium .img-wrapper, .medium img{
  height:300px
}

.small {
  height: 220px;
}
 .small .img-wrapper, .small img{
   height: 170px;
 }



/* FOOTER */

footer {
  background-color: #F2F2F2;
  display: flex;
  flex-flow: row wrap;
}

.nav-bottom {
  width: 30%;
  padding: 2em;
  margin-left: 1em;
}

.nav-bottom h2 {
  font-size: 1.5em;
  padding-bottom: 1em;
}

.nav-bottom a {
  font-size: 0.8em;
  font-weight:lighter;
  display: block;
  padding-bottom: 1em;
}