* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  max-width: 2000 px;
}

main {
  padding: 40px;
  margin: auto;
}

a {
  color: black;
  text-decoration: none;
  
}


.price {
  font-weight: bolder;
}

.fa-star {
  color: #0065FC;
}

.star-empty {
  color: grey;
}

/* HEADER */

/* header-logo */

header {
  margin: 0 3.5%;
  display: flex;
  align-items: center;
}

.header-logo {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}

.subscribe-mobile {
  visibility: hidden;
}

/* Nav */

.main-nav {
  display: flex;
  vertical-align: top;
}

.main-nav a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  text-align: center;
  width: 50%;
  padding: 1.5em;
  padding-top: 4em;
}

.main-nav a:hover {
  font-weight: bold;
  text-decoration: none;
  color: #0065FC;
  border-top: 3px solid #0065FC;
}

#subscribe, .subscribe-mobile {
  color: #0065FC;
  font-weight: bold;
  text-decoration: none;
}

#subscribe:hover, .subscribe-mobile:hover {
  color: #0049b8;
  font-size: 18px;
  font-weight: bolder;
  border: none;
}

/* Media Queries */

@media screen and (max-width: 900px) {
  body, main, header {
      margin: 0;
      min-width: 360px;
  }
  /* Header */
  header {
      max-width: 100%;
      display: flex;
      flex-wrap: wrap;
  }
  .header-logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 1.5em;
  }
  #subscribe {
      display: none;
  }
  .subscribe-mobile {
      visibility: visible;
  }
  /* Nav */
  .main-nav {
      display: flex;
      width: 100%;
  }
  nav a {
      width: 50%;
      display: flex;
      text-align: center;
      padding: 1em;
      border-bottom: 3px solid #F2F2F2;
  }
  .main-nav a:hover {
      border-top: none;
      border-bottom: 3px solid #0065FC;
  }
}

/* SECTION 1 */

h1 {
  /* margin-right: 1em; */
  font-size: 1.5em;
  font-weight: bold;
}

h1 p {
  text-align: center;
}

/* search */

#searchbar {
  height: 50px;
  margin-top: 1em;
  max-width: 500px;
  border-radius: 15px;
  border: 2px solid #F2F2F2;
  position: relative;
}

#searchbar input {
  font-weight: bold;
  border: none;
  font-size: 17px;
}

::placeholder {
  color: black;
  opacity: 1;
}

#searchbar input:focus {
  outline: none;
}

#searchbar i {
  border-radius: 15px 0 0 15px;
  padding: 16px;
  background: #F2F2F2;
  color: black;
}

#searchbar .search {
  padding: 15px 10px;
  color: white;
}

#searchbar .search {
  font-size: 16px;
  position: absolute;
  right: 0;
  border: none;
  border-radius: 0 15px 15px 0;
  background: #0065FC;
  color: white;
  padding: 0.85em;
  /* display: none; */
}

#searchbar .search-icon i {
  font-size: 16px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1.1em;
  border: none;
  border-radius: 15px;
  background: #0065FC;
  color: white;
  visibility: hidden;
}

/* TAGS */

.tags {
  display: inline-flex;
  align-items: center;
  margin: 2em 0;
}

.tags p {
  font-weight: bold;
  margin-right: 2em;
}

.tag {
  width: fit-content;
  background-color: white;
  border: 2px solid #F2F2F2;
  border-radius: 40px;
  margin: 1.5em 0.5em;
  margin-left: 0;
  padding: 0 0.9em;
  font-weight: bold;
  font-size: 14px;
}

.tag i {
  position: relative;
  left: -1em;
  color: #0065FC;
  background-color: #DEEBFF;
  border-radius: 50%;
  padding: 1.4em;
}

.tag i fa-child {
  padding: 15px 17px
}

.tag :hover {
  background-color: #F2F2F2;
  transform: scale(1.1);
}

/* search results */

.search-results i {
  color: #0065FC;
  border: 1px solid #F2F2F2;
  border-radius: 50%;
  padding: 5px 10px;
  margin-right: 1em;
  float: left;
  /* sinon le texte va passer dessous sans marge */
  top: -10px;
}

@media screen and (max-width: 900px) {
  #searchbar {
      margin-bottom: 3em;
  }
  #searchbar .search {
      display: none;
  }
  #searchbar .search-icon i {
      visibility: visible;
  }
  .tags {
      display: block;
  }
}

/* SECTION 2  HÉBERGEMENTS */

.lodging {
  max-width: 1700px;
  margin: 4rem auto;
  padding: 1rem 4rem 2rem;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 3em;
}

.container-city, .container-popular {
  padding: 1.5em;
  /* margin: 2em 0; */
  background: #F2F2F2;
  border-radius: 30px;
}

.container-city h1, .container-popular h1, .show-more {
  padding: 1.5em 0;
}

/* par ville */

.container-city {
  min-height: 250px;
  flex: 1 1 65%;
  width: 65%;
  min-width: 40ch;
}

.card-box {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.card {
  box-shadow: 0 0 10px rgba(33, 33, 33, 0.2);
  background: white;
  border: 5px solid white;
  border-radius: 15px;
  overflow: hidden;
  object-fit: cover;
  height: 250px;
  min-width: 300px;
}

.card:hover {
  box-shadow: 2px 2px 12px rgba(40, 40, 40, 0.4);
  transform: scale(1.1);
}

.card-header img {
  width: 100%;
  height: 150px;
  overflow: hidden;
  object-fit: cover;
}

.card-body {
  padding: 0 0.5em;
  position: relative;
}

.card-title {
  margin-top: 0;
}

.container-city .card-body .stars {
  position: relative;
  top: 0.5em;
}

/* plus d'infos */

.show-more {
  line-height: 4em;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}

.show-more:hover {
  color: #0065FC;
}

/* les plus populaires */

.container-popular {
  min-height: 200px;
  flex: 1 1 30%;
  width: 30%;
  min-width: 40ch;
}

.container-popular h1 {
  font-size: 1.6em;
}

.container-popular .clr-black {
  color: black;
  float: right;
  padding-right: 1.5em;
}

.card-box-pop {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 100%;
  gap: 2em;
  /* justify-items: center; */
  padding: 0.5em;
}

.card-aside {
  box-shadow: 0 0 10px rgba(33, 33, 33, 0.2);
  background: white;
  border: 5px solid white;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  object-fit: cover;
}

.card-aside:hover {
  transform: scale(1.1);
}

.card-aside .card-header img {
  padding: 0.2em 0 0;
  width: 150px;
}

.card-aside .card-body {
  padding: 0 0.7em;
}

.card-aside .card-body .stars {
  position: relative;
  top: 4.5em;
}

@media screen and (max-width: 900px) {
  .container-city {
      background: white;
  }
  .container-popular {
      border-radius: 0;
      width: 100vw;
      /* ne fontcionne pas */
  }
  .card-aside .card-body .stars {
      position: relative;
      top: 4em;
  }
}
/* SECTION 3 ACTIVITES */

/* propriétés flex : comportement responsive ok */
/* modifier cards + marges */


.activities{
  display: flex;
  flex-wrap: wrap;
}

.activities h1{
  padding-left: 2em;
}
.container-act {  
  /* width: 100%;
  height: 95%; */
  display: flex;
flex-wrap: wrap;
gap: 0.5em
flex: 1 1 20em;
 
}

.container-act > * {
  flex: 1 1 20em;
}

.box-medium-small{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between;
  width: 22%; */
}

.card-big {
  /* width: 22%; */
  /* border: none; */
  min-width: 40ch;
  height: 35rem;
  border-radius: 1.5em;
  display: flex;
  gap: 1em;
  flex-direction: column;
  box-shadow: 0.2em 0.2em 2em grey;
  
}

.card-medium{
  min-width: 40ch;
  height: 20rem;
  border-radius: 1.5em;
  display: flex;
  gap: 1em;
  flex-direction: column;
  box-shadow: 0.2em 0.2em 1em grey;
  }

.card-small{
min-width: 40ch;
height: 15rem;
border-radius: 1.5em;
display: flex;
gap: 1em;
flex-direction: column;
box-shadow: 0.2em 0.2em 1em grey;
}

.card-header-big {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.card-header-medium{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.card-header-small{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 75%;
  object-fit: cover;
}

.card-header-big img, .card-header-medium img, .card-header-small img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5em 1.5em 0 0;
}

.card-body {
  background: white;
  height: 10%;
  text-align: left;
  /* padding-top: 1em;
  padding-left: 1em; */
  border-bottom-right-radius: 1.4em;
  border-bottom-left-radius: 1.4em;

}

.card-big:hover, .card-medium:hover, .card-small:hover{
  transform: scale(1.1);
}



/* FOOTER */

footer {
  background-color: #F2F2F2;
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  padding-top: 2em;
}

.nav-bottom {
  width: 30%;
  padding: 1em;
  margin-left: 0.5em;
}

.nav-bottom h2 {
  font-size: 1.3em;
  padding-bottom: 1em;
}

.nav-bottom a {
  font-size: 0.8em;
  font-weight: lighter;
  display: block;
  padding-bottom: 1em;
  
}
.nav-bottom a:hover{
  color: #0065FC;
}

@media screen and (max-width: 900px) {
  footer {
      width: 100%;
      flex-direction: column;
      justify-content: flex-start;
  }
  .nav-bottom {
      width: 100%;
  }
  .nav-bottom h2{
      font-size: 1.3em;
      font-weight: bolder;
      padding-left: 0.8em;
  }
  .nav-bottom a {
      line-height: 0.8em;
      font-size: 0.8em;
      text-align: left;
  }


}