* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  max-width: 2000px;
}

/* main {
  padding: 40px;
  margin: auto;
} */

a {
  color: black;
  text-decoration: none;
}

.price {
  font-weight: bolder;
}

.fa-star {
  color: #0065FC;
}

.star-empty {
  color: grey;
}

/* HEADER */

header {
  display: grid;
  grid-template-columns: 700px 1fr 300px 150px;
  grid-template-rows: 100px;
  margin: 0 50px 0 50px;
}

.header-logo {
  padding: 2em 1em;
}

/* Nav */

.main-nav {
  display: flex;
  justify-content: flex-end;
}

.main-nav a {
  display: flex;
 justify-content: center;
  text-decoration: none;
  padding: 1.5em;
  padding-top: 4em;
}

.main-nav a:hover {
  font-weight: bold;
  text-decoration: none;
  color: #0065FC;
  border-top: 3px solid #0065FC;
}

#subscribe {
  color: #0065FC;
  font-weight: bold;
  text-decoration: none;
  padding: 1.5em;
  padding-top: 4em;
  display: flex;
  justify-content: space-around;
}

#subscribe:hover {
  color: #0049b8;
  font-size: 18px;
  font-weight: bolder;
  border: none;
}

/* Media Queries */

@media screen and (max-width: 900px) {
  body, main, header {
    margin: 0;
    min-width: 360px;
  }
  /* Header */
  header {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
  .main-nav {
    margin-top: 1em;
    grid-column-start: span 2;
  }
  nav a {
    width: 100%;
    padding: 1em;
    border-bottom: 3px solid #F2F2F2;
  }
  .main-nav a:hover {
    border-top: none;
    border-bottom: 3px solid #0065FC;
  }
  #subscribe {
    grid-area: 2/2/1/2;
    padding-top: 3em;
  }
}

/* SECTION 1 */
#search {
  padding: 1em;
}

#infos {
  margin: 2em 0;
}

h1 {
  margin-right: 1em;
  font-size: 1.8em;
  font-weight: bold;
}

h1 p {
  text-align: center;
}

/* search */

#searchbar {
  height: 50px;
  margin-top: 1em;
  max-width: 500px;
  border-radius: 15px;
  border: 2px solid #F2F2F2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#searchbar input {
  font-weight: bold;
  border: none;
  font-size: 17px;
  width: fit-content;
}

::placeholder {
  color: black;
  opacity: 1;
}

#searchbar .fa-map-marker-alt {
  border-radius: 15px 0 0 15px;
  padding: 16px;
  background: #F2F2F2;
  color: black;
}

#searchbar .search {
  font-size: 16px;
  border: none;
  border-radius: 0 15px 15px 0;
  background: #0065FC;
  color: white;
  padding: 0.9em;
  margin-left: 10rem;
}

#searchbar .search:hover {
  font-size: 17px;
  background: #0049b8;
}

#searchbar .search-icon {
  border: none;
  border-radius: 15px;
  background: #0065FC;
  color: white;
  visibility: hidden;
}

#searchbar .search-icon:hover {
  background: #0049b8;
}

#searchbar .search-icon .fa-search {
  font-size: 18px;
  padding: 0.85em;
  color: white;
}

/* TAGS */

.tags {
  display: inline-flex;
  align-items: center;
  margin: 2em 0;
}

.tags p {
  font-weight: bold;
  margin-right: 2em;
}

.tag {
  width: fit-content;
  background-color: white;
  border: 2px solid #F2F2F2;
  border-radius: 40px;
  margin: 1.5em;
  margin-left: 0;
  padding: 0 1em;
  font-weight: bold;
  font-size: 16px;
}
.tag i {
  position: relative;
  left: -1em;
  color: #0065FC;
  background-color: #DEEBFF;
  border-radius: 50%;
  padding: 1.4em;
}

.tag i .fa-child {
  padding: 15px 17px
}

.tag :hover {
  background-color: #F2F2F2;
}

/* search results */

.search-results i {
  color: #0065FC;
  border: 1px solid #F2F2F2;
  border-radius: 50%;
  padding: 0.5em 0.8em;
  margin-right: 1em;
  float: left;

  /* sinon le texte va passer dessous sans marge */

}
.search-results p{
  font-size: 1.3em;
}

@media screen and (max-width: 900px) {
  
  #searchbar {
    margin: 3em 0.5em;
  }
  #searchbar .search {
    display: none;
    width:fit-content;
  }
  #searchbar .search-icon, .fa-search {
    visibility: visible;
  }
  .tags {
    display: block;
    margin:0;
  
  }
}

/* SECTION 2  HÉBERGEMENTS */

#lodging {
  max-width: 1700px;
  padding: 40px;
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 3em;
}

.container-city, .container-popular {
  padding: 1.7em;
  background: #F2F2F2;
  border-radius: 30px;
}

.container-city h1, .container-popular h1, .show-more {
  padding: 1.5em 1em;
}

/* par ville */

.container-city {
  min-height: 250px;
  flex: 1 1 65%;
  width: 65%;
  min-width: 40ch;
}

.card-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.5em;
  padding-left: 1em;
}

.card {
  box-shadow: 0 0 10px rgba(33, 33, 33, 0.2);
  background: white;
  border: 5px solid white;
  border-radius: 15px;
  overflow: hidden;
  object-fit: cover;
  height: 250px;
  width: 300px;
}

.card:hover {
  box-shadow: 2px 2px 12px rgba(40, 40, 40, 0.4);
}

.card-header img {
  width: 100%;
  height: 150px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.card-body {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  margin-top: 0;
}

/* plus d'infos */

.show-more {
  line-height: 4em;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}

.show-more:hover {
  color: #0065FC;
}

/* les plus populaires */


.container-popular {
  min-height: 200px;
  flex: 1 1 30%;
  width: 30%;
  justify-content: center;
}

.container-popular .text{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.container-popular h1 {
  font-size: 1.6em;
}

.container-popular .clr-black {
  color: black;
    font-size: 1.5em;
    padding: 1.5em;
  
}

.card-box-pop {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.card-aside {
  box-shadow: 0 0 10px rgba(33, 33, 33, 0.2);
  background: white;
  border: 5px solid white;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  object-fit: cover;
  max-width: 450px;
}
.card-aside:hover {
  box-shadow: 2px 2px 12px rgba(40, 40, 40, 0.4);
}
.card-aside .card-header img {
  padding: 0.2em 0 0;
  width: 150px;
  border-radius: 15px 0 0 15px;
  overflow: hidden;
  object-fit: cover;
}

.card-aside .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
}

.card-aside .card-body .price {
  font-weight: bolder;
}

@media screen and (max-width: 900px) /*and (min-width: 414px)*/ {
  #lodging {
    padding: 0;
  }
  .container-city {
    background: white;
    min-height: 250px;
    flex: 1 1 100%;
    width: 100%;
    padding: 0 0.5em;
    justify-content: center;
  }
  
  .card-box {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    justify-content: center;
    padding: 1em;
    gap: 1em;
  }
  .card {
    box-shadow: 0 0 10px rgba(33, 33, 33, 0.2);
    background: white;
    border: 5px solid white;
    border-radius: 15px;
    overflow: hidden;
    object-fit: cover;
    height: 250px;
    width: 100%;
  }
  .container-popular {
    border-radius: 0;
    width: 100%;
    min-height: 200px;
    flex: 1 1 100%;
   
  }
  .container-popular .text {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
  }
  .container-popular h1{
    padding-left: 0;
  }
  .container-popular .fa-chart-line{
    font-size: 1.5em;
    padding: 1.5em 0;
    
  }
  .card-box-pop {
    display: flex;
    justify-content: center;
  }
  .card {
    box-shadow: 0 0 10px rgba(33, 33, 33, 0.2);
    background: white;
    border: 5px solid white;
    border-radius: 15px;
    overflow: hidden;
    object-fit: cover;
    height: 250px;
    width: 100%;
  }
}

/* SECTION 3 ACTIVITES */

#activities h1 {
  padding-left: 1.5em;
  margin-top: 3rem;
}

.container-act {
  margin: auto;
  padding: 3rem;
  overflow: hidden;
  object-fit: cover;
  display: flex;
  flex-direction: row;
}

.box-big, .box-medium-small {
  padding: 1em 0;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 45%;
  object-fit: cover;
}

.box-medium-small {
  gap: 2.5em;
}

.card-big {
  width: 80%;
  height: 80%;
  border-radius: 1.5em;
  display: flex;
  flex-direction: column;
  box-shadow: 0.2em 0.2em 2em grey;
}

.card-medium {
  width: 80%;
  height: 45%;
  border-radius: 1.5em;
  display: flex;
  flex-direction: column;
  box-shadow: 0.2em 0.2em 2em grey;
}

.card-small {
  width: 80%;
  height: 30%;
  border-radius: 1.5em;
  display: flex;
  flex-direction: column;
  box-shadow: 0.2em 0.2em 2em grey;
}

.card-big:hover, .card-medium:hover, .card-small:hover {
  box-shadow: 0.2em 0.2em 2em rgb(63, 63, 63);
}

.card-header-big {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 98%;
  object-fit: cover;
}

.card-header-medium {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85%;
  object-fit: cover;
}

.card-header-small {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.card-header-big img, .card-header-medium img, .card-header-small img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5em 1.5em 0 0;
}

.card-body {
  background: white;
  height: 10%;
  text-align: left;
  padding: 0.5em 0.5em 1em 0.5em;
  /* padding-top: 0.5em;
  padding-bottom: 1em; */
  border-radius: 0 0 1.5rem 1.5em;
}

@media screen and (max-width: 900px) {
  /* HAUTEUR DES CARDS + OU - OK avec display: block;(ligne 599) */
  /* PROBLÈME AVEC LES .CARD-BIG :shadow-box, le padding dans card-body,marging-bottom avec les autres cards */
  /* PROBLÈME DE CENTRAGE DES ÉLÉMENTS = OK (?) avec un padding un peu asymétrique ligne 585 */
  .container-act {
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem 3rem 1rem 0.5rem;
    /* pour résoudre le souci de débordement survenu .... à un moment */
  }

  activities h1 {
    padding-left: 1em;
    margin-top: 3rem;
  }
  .box-big, .box-medium-small {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    /* gap: 1em; */
  }
  .card-big, .card-medium, .card-small {
    width: 100%;
    height: 250px;
    /* display: flex;
      flex-direction: column;
      flex: 1; */
    display: block;
    margin: 1em;
  }
  .card-body {
    padding-bottom: 1.5em;
  }
}

/* FOOTER */

footer {
  background-color: #F2F2F2;
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  padding-top: 2em;
}

.nav-bottom {
  width: 30%;
  padding: 1em;
  margin-left: 0.5em;
}

.nav-bottom h2 {
  font-size: 1.3em;
  padding-bottom: 1em;
}

.nav-bottom a {
  font-size: 0.8em;
  font-weight: lighter;
  display: block;
  padding-bottom: 1em;
}

.nav-bottom a:hover {
  color: #0065FC;
}

@media screen and (max-width: 900px) {
  footer {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }
  .nav-bottom {
    width: 100%;
  }
  .nav-bottom h2 {
    font-size: 1.3em;
    font-weight: bolder;
    padding-left: 0.8em;
  }
  .nav-bottom a {
    line-height: 0.8em;
    font-size: 0.8em;
    text-align: left;
  }
}