* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  max-width: 2000 px;
}

main {
  padding: 40px;
  margin: auto;
}

a {
  color: black;
  text-decoration: none;
}

.price {
  font-weight: bolder;
}

.fa-star {
  color: #0065FC;
}

.star-empty {
  color: grey;
}

/* HEADER */

/* header-logo */

header {
    margin: 0 3.5%;
    display: flex;
align-items: center;
}

.header-logo {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}

.subscribe-mobile {
    visibility: hidden;
}

/* Nav */

.main-nav {
    display: flex;
    vertical-align: top;
}

.main-nav a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    text-align: center;
    width: 50%;
    padding: 1.5em;
    padding-top: 4em;
}

.main-nav a:hover {
    font-weight: bold;
    text-decoration: none;
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

#subscribe, .subscribe-mobile {
    color: #0065FC;
    font-weight: bold;
    text-decoration: none;
}

#subscribe:hover, .subscribe-mobile:hover {
    color: #0049b8;
    font-size: 18px;
    font-weight: bolder;
    border: none;
}

/* Media Queries */

@media screen and (max-width: 900px) {
    body, main, header {
        margin: 0;
        min-width: 360px;
    }
    /* Header */
    header {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .header-logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 1.5em;
    }
    #subscribe {
        display: none;
    }
    .subscribe-mobile {
        visibility: visible;
    }
    /* Nav */
    .main-nav {
        display: flex;
        width: 100%;
    }
    nav a {
        width: 50%;
        display: flex;
        text-align: center;
        padding: 1em;
        border-bottom: 3px solid #F2F2F2;
    }
    .main-nav a:hover {
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }
}

/* SECTION 1 */

h1 {
  /* margin-right: 1em; */
  font-size: 1.5em;
  font-weight: bold;
}

h1 p {
  text-align: center;
}

/* search */

#searchbar {
  height: 50px;
  margin-top: 1em;
  max-width: 500px;
  border-radius: 15px;
  border: 2px solid #F2F2F2;
  position: relative;
}

#searchbar input {
  font-weight: bold;
  border: none;
  font-size: 17px;
}

::placeholder {
  color: black;
  opacity: 1;
}

#searchbar input:focus {
  outline: none;
}

#searchbar i {
  border-radius: 15px 0 0 15px;
  padding: 16px;
  background: #F2F2F2;
  color: black;
}

#searchbar .search {
  padding: 15px 10px;
  color: white;
}

#searchbar .search {
  font-size: 16px;
  position: absolute;
  right: 0;
  border: none;
  border-radius: 0 15px 15px 0;
  background: #0065FC;
  color: white;
  padding: 0.85em;
  /* display: none; */
}

#searchbar .search-icon i {
  font-size: 16px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1.1em;
  border: none;
  border-radius: 15px;
  background: #0065FC;
  color: white;
  visibility: hidden;
}

/* TAGS */


  .tags{
    display: inline-flex;
    align-items: center;

  margin: 2em 0;
}

.tags p {
  
font-weight: bold;
margin-right: 2em;
}


.tag {
  width: fit-content;
  background-color: white;
  border: 2px solid #F2F2F2;
  border-radius: 40px;
  margin: 1.5em 0.5em;
  margin-left: 0;
  padding: 0 0.9em;
  font-weight: bold;
  font-size: 14px;
 
}

.tag i {
  position: relative;
 left: -1em;
  color: #0065FC;
  background-color: #DEEBFF;
  border-radius: 50%;
  padding: 1.4em;

}
.tag i fa-child{
  padding: 15px 17px
}

.tag :hover {
  background-color: #F2F2F2;
}

/* search results */

.search-results i {
  color: #0065FC;
  border: 1px solid #F2F2F2;
  border-radius: 50%;
  padding: 5px 10px;
  margin-right: 1em;
  float: left;
  /* sinon le texte va passer dessous sans marge */
  top: -10px;
}

@media screen and (max-width: 900px)  {
  #searchbar{
    margin-bottom: 3em;
  }
  #searchbar .search {
    display: none;
  }
  #searchbar .search-icon i {
    visibility: visible;
  }
  .tags{
    display: block;
  }

}
/* SECTION 2  HÉBERGEMENTS */

.lodging {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 3em;
}

.container-city, .container-popular {
  padding: 1em;
  margin: 2em 0;
  background: #F2F2F2;
  border-radius: 30px;
}

.container-city h1, .container-popular h1, .show-more {
  padding: 1.5em 0 0 1.5em;
}

/* par ville */

.card-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  padding: 1em;
  width: 100%;
}

.card {
  box-shadow: 0 0 10px rgba(33, 33, 33, 0.2);
  background: white;
  border: 5px solid white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  object-fit: cover;
  height: 250px;
}

.card:hover {
  box-shadow: 2px 2px 12px rgba(40, 40, 40, 0.4);
}

.card-header img {
  width: 100%;
  height: 150px;
  overflow: hidden;
  object-fit: cover;
}

.card-body {
  padding: 0 0.5em;
  position: relative;
}

.card-title {
  margin-top: 0;
}

.container-city .card-body .stars {
  position: relative;
  top: 0.5em;
}

/* plus d'infos */

.show-more {
  line-height: 4em;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}

.show-more:hover {
  color: #0065FC;
  border-bottom: 2px solid #0065FC;
}

/* les plus populaires */

.container-popular h1 {
  font-size: 1.6em;
}

.container-popular .clr-black {
  color: black;
  float: right;
  padding-right: 1.5em;
}

.card-box-pop {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3em;
  padding: 2.2em;
}

.card-aside {
  box-shadow: 0 0 10px rgba(33, 33, 33, 0.2);
  background: white;
  border: 5px solid white;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  object-fit: cover;
}

.card-aside .card-header img{
  padding: 0.2em 0 0;
  width: 150px;
}

.card-aside .card-body .stars {
  position: absolute;
  bottom: 0.5em;
}

/* SECTION 3 ACTIVITES */

#activities{
  margin: 3em 0;
}
.act-wrapper{
display: flex;
flex-direction: row;
margin-left: -1.2em;
}

.box-3-cards, .box-3-cards-reversed{
  display: flex;
  max-width: 90%;

}

.card {
height:170px;
width: 420px;
border: none;; 
border-radius: 15px;
box-shadow: 0 0 10px rgba(33, 33, 33, 0.4);
margin: 1.2em;
overflow: hidden;
display: inline-block;
 
}

.card .img-wrapper {
  height: 120px;
  width: 100%;
  margin: 0;
}

.card img {
  object-fit: cover;
  height: 120px;
  width: 100%;
}

.card .text-wrapper {
  margin: 0 0 0 1em;
  padding-top: 0.5em;
}

.big {
  height: 610px;

}

.big .img-wrapper, .big img {
  height: 550px;
}

.medium {
  height: 350px;
}
.medium .img-wrapper, .medium img{
  height:300px
}

.small {
  height: 220px;
}
 .small .img-wrapper, .small img{
   height: 170px;
 }



/* FOOTER */

footer {
  background-color: #F2F2F2;
  display: flex;
  flex-flow: row wrap;
}

.nav-bottom {
  width: 30%;
  padding: 1em;
  margin-left: 0.5em;
}

.nav-bottom h2 {
  font-size: 1.2em;
  padding-bottom: 1em;
}

.nav-bottom a {
  font-size: 0.8em;
  font-weight: lighter;
  display: block;
  padding-bottom: 1em;
}
@media screen and (max-width: 900px) {
    
  footer {
      width: 100%;
      flex-direction: column;
  }
  .nav-bottom{
      width: 100%;
  }
  .nav-bottom a {
      font-size: 1em;
  }
}
